.movie-details-container {
  display: flex;
}

.movie-details-image {
  max-width: 30%;
}

.actor-container {
  display: flex;
  overflow: scroll;
}
.actor-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.actor-image {
  height: 200px;
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;

  gap:20px;
}

div.movie-list {
  width: 20vw;

  
  margin-top: 20px;
}

div.movie-list img{
  width: 20vw;
}
