.movie-details-container {
  display: flex;
  border-radius: 10px;
  background: rgba(0, 0, 0, 80%);
  color: whitesmoke;
}

.movie-details-image {
  max-width: 30%;
  box-shadow: 25px 3px 23px -4px rgba(0, 0, 0, 0.56);
}

.movie-details-textbox {
  padding: 30px 60px 30px 30px;
}

.movie-details-title {
  margin-bottom: 0;
  font-size: 40px;
}
.movie-details-genre {
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.movie-details-tagline {
  font-size: 30px;
  font-style: italic;
}

.director-container {
  display: flex;
  font-size: 17px;
}

.movie-crew-director {
  display: list-item;
  margin-left: 1.5em;
}
.screenplay-text {
  margin-left: 2.5em;
}

.actor-container {
  display: flex;
  overflow: scroll;
}
.actor-card {
  margin: 0px 10px;
}

/* .actor-image {
  height: 200px;
  border-radius: 3px;
} */

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 20px;
}

div.movie-list {
  width: 20vw;
  height: 500px;
  margin-top: 20px;
}

div.movie-list img {
  width: 20vw;
}

div.movie-list h2 {
  text-align: center;
}
